body {
    font-family: Arial, sans-serif;
}

.title {
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

p {
    text-align: center;
}

#current-time {
    font-size: xx-large;
}